section {
  margin: 1rem auto;
  width: 800px;
  max-width: 40rem;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
@media (min-width: 393px) {
  section {
    width: 200px;
  }
}
@media (min-width: 851px) {
  section {
    width: 800px;
  }
}
